<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        table {
            width: 800px;
            margin: 0 auto;
        }

        table td {
            text-align: center;
        }
    </style>
</head>

<body>
    <script src="./vue.js"></script>
    <div id="app">
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <th><input type="checkbox" v-model="allChecked" />全选 </th>
                <th>口味</th>
                <th>数量</th>
                <th>价格</th>
                <th>小计</th>
            </tr>
            <tr v-for="item in iceCream" :key="item.id">
                <th><input type="checkbox" v-model="item.ischeck" /></th>
                <td>{{item.name}}</td>
                <td>{{item.num}}</td>
                <td>{{item.price}}</td>
                <td>{{item.num*item.price}}</td>
            </tr>
            <tr>
                <td>总计:</td>
                <td colspan="4">{{total}}</td>
            </tr>
        </table>

    </div>

    <script>
        var aa = new Vue({
            el: '#app',
            data() {
                return {
                    iceCream: [{
                        id: 98,
                        name: '草莓味',
                        num: 100,
                        price: 12,
                        ischeck: true,
                    },
                    {
                        id: 9,
                        name: '香蕉味',
                        num: 10,
                        price: 2,
                        ischeck: false,
                    },
                    {
                        id: 18,
                        name: '李子味',
                        num: 15,
                        price: 23,
                        ischeck: true,
                    },
                    ]
                }
            },
            computed: {
                total() {
                    return this.iceCream.reduce(function (cur, val) {
                        if (val.ischeck) {
                            return cur + val.num * val.price;
                        } else {
                            return cur;
                        }
                    }, 0)
                },
                allChecked: {
                    get() {
                        return this.iceCream.every(el => el.ischeck);
                    },
                    set(value) {
                        // console.log(value)
                        this.iceCream.forEach(el => el.ischeck = value);
                    }
                }
            }
        })
    </script>
</body>

</html>